.wrapperList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardList {
  color: #fff;
  width: 100%;
  max-width: 500px;
  margin: 0 20px 5px 20px;
}

.card {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  background-color: rgb(72, 57, 112);
}

.flexRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tagPriority {
  position: relative;
  left: -10px;
  width: 8px;
  height: 45px;
  border-radius: 5px 0 0 5px;
}

.taskName {
  font-size: 1.1rem;
  font-weight: 300;
  padding-left: 10px;
}

.btnActions {
  display: flex;
  align-items: center;
}

.select {
  outline: none;
  width: 50px;
  padding: 2px;
  font-size: 80%;
  font-weight: 300;
  color: #fff;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select option {
  color: black;
}

.btnRemove {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border-style: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  background-color: #ddd;
  transition: 0.5s;
}

.btnRemove:hover {
  font-weight: 700;
  color: #fff;
  background-color: red;
}
